<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/addNewstyle.css">
</head>
<body>
    <a href="/addNew">add new article</a>
    <% for (let i =0 ; i < articles.length; i++) { %>
       <h3><%= articles[i].title %></h3>
       <p><%= articles[i].text.slice(0, 40) %> </p>
       <a href="/fullArticle/<%= articles[i]._id %>">see more.</a>
       <p> <%= articles[i].created_at %> </p>
   <% } %>
</body>
</html> 